@using MatrixRotatorWebApplication.Models

@model MatrixRotatorWebApplication.Models.Matrix<string>

@{
    ViewData["Title"] = "Matrix";
    var rotatedMatrix = ViewData["RotatedMatrix"] as Matrix<string>;
}

<h2>Matrix</h2>
@using (Html.BeginForm("UploadMatrix", "Matrix", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <caption>Upload csv file with square matrix:</caption>
    @Html.TextBox("file", null, new { type = "file", accept = ".csv", @class = "btn btn-default" })
    <input type="submit" value="Upload" class="btn btn-default" />
}
<br />
@using (Html.BeginForm("ChangeSize", "Matrix"))
{

    @Html.LabelFor(m => m.Size)
    <br />
    @Html.TextBoxFor(m => m.Size)
    <input type="submit" value="Change size" class="btn btn-default" />
}

@using (Html.BeginForm("Rotate", "Matrix", new { Model.Size }))
{
    <table class="table">
        <caption>Source matrix</caption>
        <tbody>
            @for (var i = 0; i < Model.Size; i++)
            {
                <tr>
                    @for (var j = 0; j < Model.Size; j++)
                    {
                        <td>
                            @Html.TextBox($"Elements[{i}, {j}]", Model.Elements[i, j])
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Rotate" class="btn btn-default" />
}

@if (rotatedMatrix != null)
{
    using (Html.BeginForm("Download", "Matrix", new { rotatedMatrix.Size }))
    {
        <table class="table">
            <caption>Rotated matrix</caption>
            <tbody>
                @for (var i = 0; i < rotatedMatrix.Size; i++)
                {
                    <tr>
                        @for (var j = 0; j < rotatedMatrix.Size; j++)
                        {
                            <td>
                                @Html.TextBox($"Elements[{i}, {j}]", rotatedMatrix.Elements[i, j])
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Download" class="btn btn-default" />
    }
}
